.form{
    .form-label{
        color: #fff;
        display: flex;
    }
    .form-btn {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}