.App {
    text-align: center;
  }
  
  .stock-container-01 {
  
    table {
        display: flex;
        justify-content: center;
      }
      td {
        border: 1px solid rgb(255, 255, 255);
        width: 380px;
        text-align: center;
        color: #fff;
      }
  }
  .header-01 {
    background-color: #e21a1a;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #000;
    text-transform: uppercase;
  }
